.unelevated_form * {
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
}

.unelevated_form a,
.bulk_box a {
    color: #367778;
}

.unelevated_form input:focus {
    outline: none;
}

.results_container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 20px;
}

@media screen and (max-width: 500px) {
    .results_container {
        padding: 20px 10px;
    }
}

.cont_query .modal {
    display: none !important;
}

.unelevated_form {
    position: relative;
    transition: margin-left 0.7s ease-out;
    z-index: 11;
    font-family: "GT Walsheim", "Cathay Sans EN", CathaySans_Rg, sans-serif;
    border: 1px solid #bcbec0;
    margin: 10px 0;
    background: #f7f6f0;
    padding: 8px 0px 8px 8px;
    border-top: 5px solid #367778;
    box-shadow: 0px 0px 7px rgb(0 0 0 / 20%);
}

.unelevated_form.uef_collapsed {
    margin-left: -90%;
}

.unelevated_title {
    font-weight: 400;
    font-size: 17px;
    font-family: "GT Walsheim", "Cathay Sans EN", CathaySans_Rg, sans-serif;
    color: #2d2d2d;
    margin: 5px;
    height: 26px;
}

.unelevated_title a {
    text-decoration: none;
    color: #2d2d2d;
}

.unelevated_form .unelevated_saved {
    position: absolute;
    right: 10px;
    top: 6px;
    background: #ae4b4b;
    display: inline-block;
    border-radius: 5px;
    padding: 3px 10px;
}

.unelevated_form .unelevated_saved a,
.unelevated_form .unelevated_saved a:hover,
.unelevated_form .unelevated_saved a:active,
.unelevated_form .unelevated_saved a:focus {
    font-size: 15px;
    line-height: 24px;
    text-decoration: none !important;
    color: white;
    display: block;
    height: 24px;
}

.unelevated_form .unelevated_saved svg.heart_save {
    width: 16px;
    height: 24px;
    display: inline-block;
}

.unelevated_form .unelevated_saved svg.heart_save path {
    fill: #ff8b8b;
}

.unelevated_form .unelevated_saved a span {
    vertical-align: top;
    line-height: 24px;
}

.unelevated_form .autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/* When navigating through the items using the arrow keys */
.unelevated_form .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.feat_title {
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ae4b4b;
}


.feat_text {
    display: block;
    font-size: 14px;
    color: #666;
}

.unelevated_form .unlock_btn {
    display: block;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    background: linear-gradient(180deg, #fcd54a, #e8b524, #ffd561, #f7eb6d);
    color: rgb(130, 85, 50);
    border: 1px solid #f8c19c;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.unelevated_faves .saved_queries,
.unelevated_faves.flights .saved_flights {
    display: block;
}

.unelevated_faves .saved_flights,
.unelevated_faves.flights .saved_queries {
    display: none;
}

.faves_tabs {
    margin-left: 10px;
}

.faves_tabs a.tabs {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
    margin-right: 5px;
    height: 25px;
    padding: 5px 10px;
    margin-top: 7px;
}

.unelevated_faves .tab_queries,
.unelevated_faves.flights .tab_flights {
    background: #357677;
    color: white;
}

.unelevated_faves .tab_flights,
.unelevated_faves.flights .tab_queries {
    background: #cec9b9;
    color: #444444;
}

.unelevated_faves .saved_queries,
.unelevated_faves .saved_query,
.unelevated_faves .saved_flights {
    list-style: none;
}

.unelevated_faves .saved_queries,
.unelevated_faves .saved_flights {
    margin: 0 10px;
    padding: 0px;
    border-top: 2px solid #367778;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 32px;
    overflow: scroll;
}

.saved_queries:empty:after,
.saved_flights:empty:after {
    display: flex;
    text-align: center;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    height: 95%;
    opacity: 40%;
    line-height: 25px;
    margin: 0 25px;
}

.saved_queries:empty:after {
    content: "You don't have any saved queries. Click on ♥ in batch results to save.";
}

.saved_flights:empty:after {
    content: "You don't have any saved flights. Click on ♥ in batch results to save.";
}

.unelevated_faves .saved_query {
    position: relative;
    margin: 0;
    padding: 3px 10px;
    font-size: 12px;
    font-family: "Cathay Sans EN", CathaySans_Md, sans-serif;
}

.unelevated_faves .saved_query label {
    margin: 0;
    min-width: 150px;
    display: inline-block;
}

.unelevated_faves .saved_query input,
.unelevated_faves .saved_flights .saved_flight input {
    vertical-align: -2px;
    margin-right: 5px;
}

.unelevated_faves .saved_query:nth-child(odd),
.unelevated_faves .saved_flights .saved_flight:nth-child(odd) {
    background: #f1efe6;
}




.unelevated_faves .saved_flights .saved_flight {
    position: relative;
    margin: 0;
    padding: 3px 10px;
    font-size: 10px;
    font-family: "Cathay Sans EN", CathaySans_Md, sans-serif;

    label {
        margin: 0 0 5px 0;
        min-width: 150px;
        display: inline-block;
    }

    label>span {
        display: inline-block;
        vertical-align: top;
    }

    span.date {
        display: block;
    }

    span.route {
        background: #CCCCCC;
        padding: 2px 6px;
        border-radius: 5px 0 0 5px;
        display: inline-block;
    }

    span.flights {
        background: #e3cfc8;
        padding: 2px 6px;
        border-radius: 0 5px 5px 0;
        display: inline-block;
    }

    span.avail {
        >span {
            display: inline-block;
            line-height: 11px;
            font-size: 10px;
            padding: 2px 4px;
            color: white;
            font-weight: normal;
            border-radius: 3px;
            margin-left: 3px;
            height: 15px;
        }

        .j {
            background: #002e6c;
        }

        .f {
            background: #832c40;
        }

        .py {
            background: #487c93;
        }

        .y {
            background: #016564;
        }
    }
}

.multi_box {
    height: 67px;
    background: #f7f6f0;
    border: 1px solid #bcbec0;
    position: relative;
    margin-top: -11px;
    margin-bottom: -67px;
    z-index: 10;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.multi_box * {
    box-sizing: border-box;
}

.multi_box.hidden {
    display: none;
}

.multi_box select {
    border: 1px solid #bcbec0;
    height: 45px;
    width: calc(35% - 10px);
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.multi_box label {
    margin: 0;
    display: inline-block;
    position: relative;
    width: calc(20% - 10px);
    margin-right: 10px;
}

.multi_box label>span {
    position: absolute;
    top: 0px;
    left: 5px;
    color: #66686a;
    font-family: Cathay Sans EN, CathaySans_Rg, sans-serif;
    line-height: 25px;
    font-size: 10px;
}

.multi_box input {
    font-family: Cathay Sans EN, CathaySans_Rg, sans-serif;
    padding: 19px 5px 5px 5px;
    border-radius: 0px;
    border: 1px solid #bcbec0;
    display: inline-block;
    margin: 0px 8px 8px 0px;
    height: 45px;
    width: 100%;
    font-size: 16px;
}

.multi_box a.multi_search {
    background-color: #367778;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    color: white;
    vertical-align: top;
    margin: 0px;
    height: 45px;
    width: calc(25%);
    font-size: 11px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    padding: 0px 10px;
    line-height: 15px;
}

a.switch:active {
    margin-top: 40px;
    margin-left: -18px;
}

a.switch {
    display: inline-block;
    position: absolute;
    background: white;
    z-index: 15;
    margin-top: 38px;
    border: 1px solid #bcbec0;
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 15px;
    left: 32.5%;
    margin-left: -19px;
    height: 22px;
    line-height: 16px;
}

a.switch svg path {
    fill: #AAA;
}

.unelevated_form .labels {
    display: flex;
    flex-wrap: wrap;
}

.unelevated_form .labels label {
    margin: 0;
    display: inline-block;
    position: relative;
    width: 50%;
    padding: 0px 8px 0px 0px;
}

.unelevated_form .labels label.labels_left {
    width: 65%;
}

.unelevated_form .labels label.labels_right {
    width: 35%;
}

.unelevated_form .labels label>span {
    position: absolute;
    top: 0px;
    left: 5px;
    color: #66686a;
    font-family: Cathay Sans EN, CathaySans_Rg, sans-serif;
    line-height: 25px;
    font-size: 10px;
}

.unelevated_form .labels input {
    font-family: Cathay Sans EN, CathaySans_Rg, sans-serif;
    padding: 19px 5px 5px 5px;
    border-radius: 0px;
    border: 1px solid #bcbec0;
    display: inline-block;
    margin: 0px 8px 8px 0px;
    height: 45px;
    width: 100%;
    font-size: 16px;
}

svg.clear_from,
svg.clear_to {
    position: absolute;
    right: 20px;
    top: 15px;
    opacity: 30%;
}

.unelevated_form button.uef_search {
    background-color: #367778;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    color: white;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    height: 45px;
    width: calc(35% - 8px);
    font-size: 15px;
}


.heavy_user_prompt {
    background: linear-gradient(339deg, #fdf98b, #e4c63f, #fef985, #eec946);
    box-shadow: -1px 1px 3px rgb(155 95 70 / 40%);
    border-radius: 5px;
    padding: 1px;
    margin-right: 10px;
    margin-top: 10px;
}

.heavy_user_prompt a {
    font-size: 15px;
    min-height: 20px;
    padding: 10px;
    line-height: 20px;
    text-decoration: underline !important;
    color: #802d2d;
    display: block;
    background: linear-gradient(180deg, #fcd54a, #e8b524, #ffd561, #f7eb6d);
    border-radius: 5px;
    padding: 10px 8px;
    text-align: center;
}


a.uef_toggle,
a.uef_toggle:hover {
    background: #367778;
    display: block;
    position: absolute;
    right: -1px;
    top: -5px;
    padding-top: 5px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: white !important;
    padding-bottom: 5px;
}

a.uef_toggle:after {
    content: "«";
}

.uef_collapsed a.uef_toggle:after {
    content: "»";
}

.bulk_box {
    min-height: 60px;
    transition: margin-top 0.7s ease-out;
    background: #f7f6f0;
    border: 1px solid #bcbec0;
    box-shadow: 0px 0px 7px rgb(0 0 0 / 20%);
    margin-top: -11px !important;
    margin-bottom: 20px;
    z-index: 9;
    position: relative;
}

.bulk_results {
    transition: all 0.5s ease-out;
    min-height: 30px;
    margin: 10px;
}

.bulk_results.hidden {
    height: 0;
    min-height: 0;
    margin: 0;
    overflow: hidden;
    transition: all 0.5s ease-out;
}

.filters {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}

.filters input {
    vertical-align: -2px;
    margin-right: 5px;
    margin-left: 10px;
}

.filters label {
    display: inline-block;
}

.bulk_table {
    width: 100%;
    border: 1px solid #c6c2c1;
    margin-top: 3px;
    font-size: 12px;
    border-spacing: 0;
    border-collapse: collapse;
}

.bulk_table th {
    text-align: center !important;
    font-weight: bold;
    background: #ebedec;
    line-height: 17px;
    font-size: 12px;
}

.bulk_table td {
    background: white;
}

.bulk_table tr:nth-child(even) td {
    background: #f9f9f9;
}

.bulk_table th,
.bulk_table td {
    border: 1px solid #c6c2c1;
    padding: 5px;
}

.bulk_table .bulk_date {
    width: 80px;
    text-align: center;

    a {
        text-decoration: underline !important;
        font-family: "Cathay Sans EN", CathaySans_Md, sans-serif;
        font-weight: 400;
        display: block;
        margin-bottom: 5px;
    }
}

.bulk_table td.bulk_flights {
    padding: 5px 5px 0 5px;
    font-family: "Cathay Sans EN", CathaySans_Rg, sans-serif;
    font-weight: 400;
    line-height: 0px;
}

.bulk_table td.bulk_flights .flight_list:empty:after {
    display: block;
    height: 24px;
    content: "No Redemption Availability";
    margin-bottom: 5px;
    margin-top: -3px;
    margin-left: 10px;
    font-family: "Cathay Sans EN", CathaySans_Rg, sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #AAA;
}

.bulk_table td.bulk_flights .flight_list span.bulk_response_error {
    line-height: 24px;
}

.bulk_response_error {
    display: block;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: red;
}

.bulk_table .flight_title {
    display: block;
    background: #dde8e8;
    font-size: 12px;
    line-height: 15px;
    padding: 3px 7px;
    margin-bottom: 7px;
    margin-top: 2px;
    border-bottom: 3px solid #357677;
    position: relative;
}

.bulk_go_book {
    float: right;
    margin-right: 5px;
    margin-left: 10px;
    font-weight: bold;
}

a.bulk_save,
a.bulk_save:hover,
a.bulk_save:active {
    outline: none !important;
    float: left;
    margin-right: 5px;
    text-decoration: none !important;
}

a.bulk_save svg.heart_save {
    width: 12px;
    height: 12 px;
    display: inline-block;
}

a.bulk_save svg.heart_save path {
    fill: gray;
}

a.bulk_saved svg.heart_save path {
    fill: #d65656;
}

a.bulk_save *,
a.bulk_go_book * {
    pointer-events: none;
}

.flight_wrapper {
    position: relative;
    display: inline-block;
}

.flight_info {
    position: absolute;
    left: 0;
    top: 37px;
    background: #e0e0e0;
    border: 1px solid #bbb;
    padding: 6px 10px;
    display: none;
    line-height: 18px;
    z-index: 15;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
}

.flight_info>span {
    display: block;
}

.flight_info span.info_flight {
    font-weight: bold;
    font-family: CathaySans_Bd, sans-serif;
}

.info_dept>span,
.info_arr>span {
    display: inline-block;
    width: 50px;
    color: #999;
    font-weight: bold;
    font-family: CathaySans_Md, sans-serif;
}

span.info_transit,
span.info_duration {
    margin: 8px 0px;
    background: #ededed;
    border-radius: 5px;
    padding: 2px 8px;
    text-align: center;
    font-size: 11px;
    color: #888;
}

span.info_duration {
    margin-bottom: 5px;
}

.flight_item.active+.flight_info {
    display: block;
}

.flight_item {
    transition: all 0.5s ease-in;
    background: #e0e0e0;
    line-height: 15px !important;
    border-radius: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
    font-size: 12px;
    font-family: "GT Walsheim", "Cathay Sans EN", CathaySans_Rg, sans-serif;
    font-weight: 400;
    position: relative;
    display: inline-block;
    overflow: hidden;
    visibility: hidden;

    max-width: 0px;
    padding: 6px 0px;
    margin-right: 0px;
}

.flight_item span.stopover {
    border-radius: 5px;
    padding: 2px 4px;
    color: #909090 !important;
    display: inline-block;
    background: white;
    font-size: 10px;
    margin: 0px 4px !important;
    line-height: 11px;
}

.flight_item.direct {
    background: #cbe0cf;
}

.flight_item.saved {
    background: #f5ebd8;
}

.flight_item img {
    line-height: 15px;
    max-height: 15px;
    vertical-align: middle;
    margin-right: 2px;
    max-width: 20px;
}

.show_first .flight_item.f,
.show_business .flight_item.j,
.show_premium .flight_item.py,
.show_economy .flight_item.y {
    visibility: visible;

    max-width: 280px;
    padding: 6px 6px;
    margin-right: 6px;
}

.nonstop_only .flight_item:not(.direct) {
    visibility: hidden;

    max-width: 0px;
    padding: 6px 0px;
    margin-right: 0px;
}

span.bulk_j {
    background: #002e6c;
}

span.bulk_f {
    background: #832c40;
}

span.bulk_p {
    background: #487c93;
}

span.bulk_y {
    background: #016564;
}

.flight_item span.flight_num {
    line-height: 16px;
    vertical-align: middle;
    height: 16px;
    display: inline-block;
    padding: 2px 0;
}

.flight_item span.bulk_j,
.flight_item span.bulk_f,
.flight_item span.bulk_p,
.flight_item span.bulk_y {
    color: white;
    border-radius: 5px;
    font-size: 10px;
    overflow: hidden;
    transition: all 0.5s ease-in;
    display: inline-block;
    vertical-align: top;
    height: 16px;
    line-height: 16px;

    max-width: 0px;
    padding: 2px 0px;
    margin-left: 0px;
}

.show_first span.bulk_f,
.show_business span.bulk_j,
.show_premium span.bulk_p,
.show_economy span.bulk_y {
    max-width: 25px;
    padding: 2px 5px;
    margin-left: 3px;
}


.flight_item:hover img,
.flight_item:focus img,
.flight_item:active img,
.flight_item.saved img {
    opacity: 0;
}

span.flight_save {
    display: none;
    position: absolute;
    left: 5px;
    top: 5px;
    opacity: 0.6;
}

span.flight_save * {
    pointer-events: none;
}

span.flight_save svg {
    height: 12px;
    width: 12px;
    padding: 5px;
}

.flight_item.saved span.flight_save {
    opacity: 1;
    display: block;
}

.flight_item.saved svg.heart_save path {
    fill: #d65656;
}

.flight_item:hover span.flight_save,
.flight_item:focus span.flight_save,
.flight_item:active span.flight_save {
    display: inline-block;
}

.flight_item .chevron {
    vertical-align: top;
    display: inline-block;
    padding: 2px 0 2px 0px;
    height: 16px;
    opacity: 0.5;
    margin-right: -2px;
    margin-left: -2px;
}

.flight_item .chevron svg {
    vertical-align: top;
    transform: rotate(-90deg);
}

.flight_item.active .chevron svg {
    transform: rotate(0deg);
}

.flight_item * {
    pointer-events: none;
}

.flight_item .flight_save {
    pointer-events: auto;
}

.bulk_footer {
    min-height: 45px;
    margin: 10px;
}

.bulk_footer.bulk_sticky .bulk_footer_container {
    position: fixed;
    bottom: 0;
    padding: 10px;
    background: #f7f6f0;
    margin: 0 auto;
    box-shadow: 0px 0px 7px rgb(0 0 0 / 20%);
    max-width: 858px;
    left: 0;
    right: 0;
}

@media screen and (max-width: 500px) {
    .bulk_footer.bulk_sticky .bulk_footer_container {
        max-width: 838px;
    }
}

button.bulk_submit {
    position: relative;
    background-color: #367778;
    border: none;
    color: white;
    margin: 0px auto;
    height: 45px;
    line-height: 35px;
    padding: 5px 0;
    width: 100%;
    display: block;
    font-family: "GT Walsheim", "Cathay Sans EN", CathaySans_Rg, sans-serif !important;
    font-size: 15px;
}

.bulk_submit img,
button.uef_search img {
    line-height: 35px;
    height: 25px;
    width: auto;
    display: inline-block;
    margin-right: 10px;
    vertical-align: -7px;
}

.bulk_searching,
.uef_search.searching {
    background-color: #b9cdc9 !important;
}

.col-select-departure-flight>.row:last-of-type {
    padding-bottom: 140px;
}

span.info-x {
    border-radius: 5px;
    padding: 2px 5px;
    margin-left: 5px;
    color: white;
    font-size: 10px;
    font-family: CathaySans_Md, Cathay Sans EN;
    font-weight: 400;
}

span.info-f {
    background: #832c40;
}

span.info-j {
    background: #002e6c;
}

span.info-p {
    background: #487c93;
}

span.info-y {
    background: #016564;
}

.login_prompt {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    transition: all 0.5s ease-out;
    margin-bottom: 10px;
}

.login_prompt.hidden {
    height: 0;
    overflow: hidden;
    margin: 0;
}

.unelevated_faves {
    line-height: 20px;
    overflow: hidden;
    transition: all 0.5s ease-out;
    background: #eae6d9;
    border: 1px solid #bebebe;
    margin-right: 8px;
    box-shadow: inset 0px 0px 4px 0px rgb(0 0 0 / 10%);
    position: absolute;
    top: 0px;
    right: 0;
    left: 8px;
    z-index: 100;
    height: calc(100% - 52px);
    margin-top: 42px;
    opacity: 1;
}

.unelevated_faves.hidden {
    height: 0;
    opacity: 0;
}

.unelevated_faves span.saved_title {
    height: 20px;
    display: block;
    margin: 6px 15px;
    font-size: 13px;
    color: #787878;
    font-weight: bold;
    font-family: "Cathay Sans EN", CathaySans_Md, sans-serif;
}

a.search_selected {
    position: absolute;
    right: 15px;
    top: 6px;
    height: 20px;
    line-height: 20px !important;
    font-size: 12px !important;
    font-weight: bold !important;
    display: block;
}

.flights a.search_selected {
    position: absolute;
    right: 15px;
    top: 6px;
    height: 20px;
    line-height: 20px !important;
    font-size: 12px !important;
    font-weight: bold !important;
    display: none;
}

.saved_book {
    margin-left: 10px;
    line-height: 20px !important;
    font-weight: bold;
    display: inline-block;
}

.saved_remove {
    font-weight: bold;
    position: absolute;
    line-height: 20px !important;
    font-weight: bold;
    right: 5px;
    top: 3px;
}

.flights .saved_remove {
    line-height: 36px !important;
}

.multi_on .saved_book,
.multi_on .saved_remove,
.multi_on .search_selected {
    display: none;
}

.leg {
    color: #ae4b4b !important;
    font-weight: bold;
}

.saved_remove svg {
    height: 20px;
    fill: #b4afaf;
}

.saved_book *,
.saved_remove * {
    pointer-events: none;
}

span.unelevated_error {
    padding: 10px 0 10px 10px;
    line-height: 20px;
    max-height: 100%;
    display: block;
    background: #ffd2d2;
    border-radius: 5px;
    margin: 0 10px 5px 0;
    text-align: center;
    color: #b54545;
    font-weight: bold;
    font-size: 14px;
}

span.unelevated_error a {
    padding: 0;
    margin: 0;
    text-decoration: underline;
    line-height: 20px;
    max-height: 100%;
    height: 24px;
    display: block;
    background: #ffd2d2;
    border-radius: 5px;
    margin: 0 10px 5px 0;
    text-align: center;
    color: #b54545;
    font-family: CathaySans_Md, Cathay Sans EN;
    font-weight: 400;
}

.bulk_error span {
    padding: 5px;
    line-height: 20px;
    height: 20px;
    max-height: 100%;
    display: block;
    background: #eae6d9;
    border-radius: 5px;
    text-align: center;
    color: #b54545;
    margin-top: 10px;
    font-size: 12px;
    transition: all 0.5s ease-out;
    font-family: CathaySans_Md, Cathay Sans EN;
    font-weight: 400;
}

.bulk_error.hidden span {
    height: 0;
    margin-top: 0;
    overflow: hidden;
    padding: 0;
}

/* The container must be positioned relative */
.unelevated_form .autocomplete {
    position: relative;
    display: inline-block;
}

.unelevated_form .autocomplete-items {
    position: absolute;
    border: 1px solid #bcbec0;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 8px;
    ;
    margin-top: -8px;
    max-height: 200px;
    overflow: scroll;
    background: white;
}

.unelevated_form .autocomplete-items div {
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4;
    font-size: 12px;
    font-weight: normal;
    font-family: "Cathay Sans EN", CathaySans_Rg, sans-serif;
    white-space: nowrap;
    overflow: hidden;
}

.unelevated_form .autocomplete-items div span.sa_code {
    margin-left: 5px;
    display: inline-block;
    width: 30px;
    font-weight: normal;
}

.unelevated_form .autocomplete-items div span.sc_code {
    color: #888;
    display: inline-block;
    margin-left: 10px;
    font-weight: normal;
}

/* When hovering an item */
.unelevated_form .autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/* When navigating through the items using the arrow keys */
.unelevated_form .autocomplete-active,
.unelevated_form div.autocomplete-active span.sc_code {
    background-color: DodgerBlue !important;
    color: #ffffff;
}
